.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0 12px 0;
}

.header__logo img {
    max-width: 150px;
}

.header__title {
    font-size: 26px;
}

.form {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.input-section input,
.input-section label {
    width: 250px;
}